name: Symphony Client CI

on:
  push:
    branches: [[ [default_branch] | to_json ]]
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: read

jobs:
  commands:
    uses: 1000lines/symphony-example/.github/workflows/symphony-client-commands.yml@fd383f5760a2ba62ea6f6295bd6dd21cc0cb9e9e
    with:
      tested-ref: ${{ github.event.pull_request.head.sha || github.sha }}
      commands: >-
        [[ [["bash", "-lc", build_command], ["bash", "-lc", test_command]] | to_json ]]
